* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    min-height: 100%;
    font-size: 85%;
}

/*Cores*/
:root {
    --cor-principal: #5ce1e6;
    --cor-amarelho: #FFC800;
    --cor-azul-escuro: #0072CC;
    --dark-text: rgb(70,66,66);
}


/*Geral*/

body {
    background: var(--cor-principal);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    align-items: center;
}


/*Header*/

header {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}

header h3 {
    color: white;
    font-size: 3rem;
}

.header {
    text-align: center;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-weight: bold;
    flex-grow: 1;
    margin: 5% 5% 0 0;
}

.img-header {
    width: 22%;
    display: flex;
    justify-self: flex-start;
}

.btn.btn-acao {
    background: #FFC600;
    color: #000;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 3rem;
    border: none;
    height: 3em;
    line-height: 3rem;
    width: 100%;
    /*margin-left: 3rem;*/
    margin: 0;
    margin-top: 1em;
}

.btn.btn-acao:hover {
    background: #dbad05;
    color: #000;
}

.btn.btn-acao a:hover {
    text-decoration: none;
    color: #000;
}

/*Main*/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem;
    padding-top: 30rem;
    position: absolute;
}


main  h1 {
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 8px;    
}

#form-container p {
    margin-bottom: 5px;
}

.img-login {
    width: 30%;
}

#form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
    height: 55%;
    border-radius: 4rem 0 4rem 0;
    color: #fff;
    background-color: #0072CC;
    box-sizing: border-box;
    padding: 3rem;
    margin: 0;
}

span {
    font-size: 1.5rem;
    display: block;
}

#register-form {
    width: 85%;
}

#register-form p {
    color:white;
    font-weight: bold; 
    font-size: 1.5rem;
}

#register-form input {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    padding: 3px;
    font-size: 1.5rem;
}

#register-form input::placeholder {
    color: var(--dark-text);
}

.botao-formulario {
    width: 100%;
    margin: 0;
    height: 4rem;
    background: #FFC600;
    color: #000;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 3rem;
    border: none;
    line-height: 3rem;
    margin-top: 4%;
}

.botao-formulario:hover {
    background: #dbad05;
    color: #000;
}

.botao-formulario a:hover {
    text-decoration: none;
    color: #000;
}


/*NEON MENSAGEM*/

.neon-mensagem {
    width: 40%;
    margin-top:18%;
    margin-bottom: 3%;
}

.neon-mensagem img {
    display: flex;
    justify-self: center;
    margin: auto;
}


/*FOOTER*/

footer {
    background-color: #F1F4F4;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 3rem;
}
  
footer p {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}

.copy {
    color: #2c2626;
    opacity: 0.5;
} 
 
.imagenes-rodape{
    margin: 15px;
    border-radius: 0.3rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
  
footer a {
    text-decoration: none
}


/* RESPONSIVIDADE */

@media (max-width: 2367px) {
    .img-header {
        width: 21%;
    }
    main {
        padding-top: 20rem;
    }
    #form-container {
        width: 60%;
    }    
    .neon-mensagem {
        width: 45%;
        margin-top:20%;
    }
}

@media (max-width: 2019px) {
    .img-header {
        width: 21%;
    }
    main {
        padding-top: 21rem;
    }
    #form-container {
        width: 60%;
    }  
    .neon-mensagem {
        width: 45%;
        margin-top:25%;
    }
}

@media (max-width: 1933px) {
    html {
        font-size: 80%;
    }
    .img-header {
        width: 21%;
    }
    main {
        padding-top: 22rem;
    }
    #form-container {
        width: 55%;
    }  
    .neon-mensagem {
        width: 43%;
        margin-top:25%;
    }
}

@media (max-width: 1722px) {
    .img-header {
        width: 21%;
    }
    main {
        padding-top: 22rem;
    }
    #form-container {
        width: 50%;
    }  
    .neon-mensagem {
        width: 45%;
        margin-top:30%;
    }
}

@media (max-width: 1513px) {
    html {
        font-size: 70%;
    }
    .img-header {
        width: 21%;
    }
    main {
        padding-top: 22rem;
    }
    #form-container {
        width: 52%;
    }  
    .neon-mensagem {
        width: 45%;
        margin-top:34%;
    }
}

@media (max-width: 1332px) {
    html {
        font-size: 70%;
    }
    .img-header {
        width: 21%;
    }
    main {
        padding-top: 22rem;
    }
    #form-container {
        width: 54%;
    }  
    .neon-mensagem {
        width: 46%;
        margin-top:41%;
    }
}

@media (max-width: 1107px) {
    html {
        font-size: 67%;
    }
    .img-header {
        width: 21%;
    }
    main {
        padding-top: 18rem;
    }
    #form-container {
        width:56%;
    }  
    .neon-mensagem {
        width: 48%;
        margin-top:43%;
    }
}

@media (max-width: 1012px) {
    html {
        font-size: 64%;
    }
    .img-header {
        width: 21%;
    }
    main {
        padding-top: 18rem;
    }
    #form-container {
        width:58%;
    }  
    .neon-mensagem {
        width: 50%;
        margin-top:47%;
    }
}


@media (max-width: 930px) {
    html {
        font-size: 62%;
    }
    .img-header {
        width: 21%;
    }
    main {
        padding-top: 18rem;
    }
    #form-container {
        width: 60%;
    }  
    .neon-mensagem {
        width: 52%;
        margin-top:50%;
    }
}

@media (max-width: 811px) {
    html {
        font-size: 60%;
    }
    .img-header {
        width: 21%;
    }
    main {
        padding-top: 17rem;
    }
    #form-container {
        width: 65%;
    }  
    .neon-mensagem {
        width: 56%;
        margin-top:55%;
    }
}

@media (max-width: 725px) {
    html {
        font-size: 58%;
    }
    .img-header {
        width: 20%;
    }
    main {
        padding-top: 18rem;
    }
    #form-container {
        width: 70%;
    }  
    .neon-mensagem {
        width: 60%;
        margin-top:67%;
    }
}

@media (max-width: 634px) {
    html {
        font-size: 54%;
    }
    .img-header {
        width: 20%;
    }
    main {
        position:initial;
        padding-top: 0;
    }
    #form-container {
        width: 80%;
    }  
    .neon-mensagem {
        width: 63%;
        margin-top:1.5rem;
    }
}

@media (max-width: 491px) {
    html {
        font-size: 50%;
    }
    .img-header {
        width: 20%;
    }
    main {
        position:initial;
        padding-top: 2rem;
    }
    #form-container {
        width: 95%;
    }  
    .neon-mensagem {
        width: 65%;
        margin-top:1rem;
    }
    footer div a img {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 425px) {
    html {
        font-size: 50%;
    }
    .img-header {
        width: 20%;
    }
    main {
        position:initial;
        padding: 0;
        padding-top: 5rem;
    }
    #form-container {
        width: 100%;
    }  
    .neon-mensagem {
        width: 72%;
        margin-top:4rem;
    }
    footer div a img {
        width: 40px;
        height: 40px;
    }
}
