* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Cores*/
:root {
    --cor-principal: #0CD8D7;
    --cor-amarelho: #FFC800;
    --cor-azul-escuro: #0072CC;
    --dark-text: rgb(70,66,66);
}

body {
    background: var(--cor-principal);
}

/*Header*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

@media (max-width: 767px) {
    header {
        flex-wrap: wrap;
        justify-content: center;
    }
}

header img {
    width: 200px;
}

.btn.btn-acao {
    background: var(--cor-amarelho);
    border-radius: 30px;
    font-weight: bold;
}


/*Main*/
main {
    margin: 16px auto; 
}
main  h1 {
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 8px;
}
#form-container {
    background: var(--cor-azul-escuro);
    width: 400px;
    border-radius: 80px 0 80px 0 ;
    
}
@media (max-width: 470px) {
    #form-container {
        width: 100%;
    }
}

#register-form {
    width: calc(100% - 80px)
}

#register-form p {
    color:white;
    font-weight: bold; 
}

#register-form input {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    padding: 4px;
}

#register-form input::placeholder {
    color: var(--dark-text);
}

footer {
    background-color: white;
    padding: 16px 8px;
}
footer .logo-icones{
    width: 100%;
}
footer .logo-icones a {
    margin: auto 4px;
}
 footer p {
     margin-bottom: 0;
 }

 footer .copy p {
     text-align: center;
     font-weight: bold;
 }