* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    min-height: 100%;
}

/*Cores*/
:root {
    --cor-principal: #0CD8D7;
    --cor-amarelho: #FFC800;
    --cor-azul-escuro: #0072CC;
    --dark-text: rgb(70,66,66);
}


/*Geral*/

body {
    background: var(--cor-principal);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    align-items: center;
}


/*Header*/

header {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}

header h3 {
    color: white;
}

.header {
    text-align: center;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-weight: bold;
    flex-grow: 1;
    margin: 5% 5% 0 0;
}

.img-header {
    width: 22%;
    display: flex;
    justify-self: flex-start;
}

.btn.btn-acao {
    background: var(--cor-amarelho);
    border-radius: 30px;
    font-weight: bold;
}


/*Main*/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem;
    padding-top: 18rem;
    position: absolute;
}


main  h1 {
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 8px;    
}

p {
    margin-bottom: 5px;
}

.img-login {
    width: 30%;
}

#form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 50%;
    border-radius: 4rem 0 4rem 0;
    color: #fff;
    background-color: #0072CC;
    box-sizing: border-box;
    padding: 2rem;
    margin: auto;
}

span {
    font-size: 12px;
    display: block;
}


#register-form {
    width: calc(100% - 80px)
}

#register-form p {
    color:white;
    font-weight: bold; 
}

#register-form input {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    padding: 3px;
}

#register-form input::placeholder {
    color: var(--dark-text);
}

.neon-mensagem {
    width: 50%;
    padding-top: 2rem;
}

.neon-mensagem img {
    display: flex;
    justify-self: center;
    margin: auto;
}


/*FOOTER*/

footer {
    background-color: #F1F4F4;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top:25%;
}
  
footer p {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}

.copy {
    color: #2c2626;
    opacity: 0.5;
} 
 
.imagenes-rodape{
    margin: 15px;
    border-radius: 0.3rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
  
footer a {
    text-decoration: none
}


/* RESPONSIVIDADE */
/*
@media (max-width: 1120px){
    .imagen-flotante {
        display: none;
    }

}

@media (max-width: 767px) {
    header {
        flex-wrap: wrap;
        justify-content: center;
    } 

    main {
        width: 90%;
    }
}

@media (max-width: 470px) {
    #form-container {
        width: 100%;
    }
}