* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Cores*/
:root {
    --cor-principal: #0CD8D7;
    --cor-amarelho: #FFC800;
    --cor-azul-escuro: #0072CC;
    --dark-text: rgb(70,66,66);
}

body {
    background: var(--cor-principal);
    
}

.all {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    align-items: center;

}

/*Header*/
header {
    width: 85%;
    text-align: center;
    display: flex;
    align-items: baseline;
    place-content: space-between;
    font-weight: bold;
    margin: 0 auto;
}

header h3 {
    color: white;
    display: inline;
}
@media (max-width: 1120px){
    .imagen-flotante {
        display: none;
    }

}
@media (max-width: 767px) {
    header {
        flex-wrap: wrap;
        justify-content: center;
    }

    

    main {
        width: 90%;
    }

    
}


.btn.btn-acao {
    background: var(--cor-amarelho);
    border-radius: 30px;
    font-weight: bold;
}


/*Main*/

.imagen-flotante {
    place-self: center;
    position: absolute;
    left: 0;
}

main  h1 {
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 8px;
    
}

p {
    margin-bottom: 5px;
}

#form-container {
    background: var(--cor-azul-escuro);
    width: 400px;
    border-radius: 80px 0 80px 0 ;
}
span {
    font-size: 12px;
    display: block;
}
.copy {
    text-align: center;
}
@media (max-width: 470px) {
    #form-container {
        width: 100%;
    }
}

#register-form {
    width: calc(100% - 80px)
}

#register-form p {
    color:white;
    font-weight: bold; 
}

#register-form input {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    padding: 3px;
}

#register-form input::placeholder {
    color: var(--dark-text);
}

footer {
    bottom: 0;
    width: 100%;
    
}

footer a {
    text-decoration: none;
    margin: 0;
}
.footer {
    background-color: white;
    padding: 8px 0;
    display: flex;
    flex-direction: column;
}

footer .logo-icones{
    width: 100%;
}
footer .logo-icones a {
    margin: auto 4px;
}
 footer p {
     margin-bottom: 0;
 }

 footer .copy p {
     text-align: center;
     font-weight: bold;
 }