*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  }

body{
    margin: 0;
    padding: 0;
    background-color: #00A5F0;
    background-size: cover;
    font-family: "Comfortaa", sans-serif;
}

.logo-header img{
    width: 20%;
    position: absolute;
    top: -5%; 
    left: -3%;
  }

  .user{
    width: 650px;
    border-radius: 20%;
    position: absolute;
    top: 60%;
    left: 25%;
    transform: translate(-50%, -50%);
   box-sizing: border-box;
}

button[type="submit"]{
    height: 50px;
    line-height: 45px;
    width: 220px;
    position: absolute;
    top: 5%;
    right: 2%;
    background: #FFC600;
    color: #000;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: .1s ease all;
}

button[type="submit"]:hover{
    background: #dbad05;
}

.abra-conta a:visited{
    color: #000;
}

.login{
    width: 320px;
    height: 420px;
    border: 2px, solid #000;
    border-radius: 80px 0px 80px 0px;
    color: #fff;
    background-color: #0072CC;
    top: 62%;
    left: 60%;
    position: absolute;
    transform: translate(-50%, -50%);
   box-sizing: border-box;
   padding: 68px 28px;
}

.usuario{
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 112px;
}

h1{
    margin: 0;
    padding-top: 0;
    padding-bottom: 20px;
    letter-spacing: 10px;
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
}

.login p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

::placeholder{
    color: rgb(70, 66, 66);
  }

.login input{
    width: 100%;
    margin-bottom: 21px;
}

.login input[type="text"], input[type="password"] {
    border: none;
    border-bottom: 1px solid #F1F4F4;
    background: transparent;
    outline: none;
    height: 40px;
    color: #F1F4F4;
    font-size: 16px;
}

.login input[type="submit"]{
   border: none;
   outline: none;
   height: 35px;
   color: #000;
   font-weight: bold;
   font-size: 20px;
   background: #FFC600;
   border-radius: 20px;
   transition: 0.2s;
}

.login input[type="submit"]:hover{
    cursor: pointer;
    background: #dbad05;
    transition: 0.2s;
}

.login a{
    font-weight: bold;
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: #F1F4F4;
}

.login a:hover{
    transition: 00.2s;
    color: #dbad05;
}

.error-validation {
    color: #ff1a1a;
    position: absolute;
    top: 57px;
    font-size: 12px;
  }
  
  .template {
    display: none;
  }