html{
  font-size: 80%;
}

body {
  background-color: #5ce1e6;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

header {
display: flex;
justify-content: space-between;
align-items: baseline;
box-sizing: border-box;
background-color: white;
}

.logo-h1 {
  width: 8%;
}

header h1 {
  font-weight: bold;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  text-align: center;
  font-size: 3rem;
  color: #0072CC;
  padding-top: 1rem;
}

.logo-header {
  width: 10%;
}

.logo-header img {
  width: 100%;
}

button a {
  text-decoration: none;
  color: #000;
  width: auto;
}

button {
  background: #FFC600;
  color: #000;
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: 3rem;
  border: none;
  height: 4rem;
  line-height: 3rem;
  width: 12%;
  margin-left: 3rem;
}

button:hover{
  background: #dbad05;
  color: #000;
}

button a:hover {
  text-decoration: none;
  color: #000;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: large;
  width: 50%;
  height: 50%;
  border: .1rem, solid #000;
  border-radius: 4rem 0 4rem 0;
  color: #fff;
  background-color: #0072CC;
  box-sizing: border-box;
  padding: 1.8rem  1.7rem;
  margin-top: 8%;
}

.usuario-img{
  width: 30%;
  height: 30%;
  border-radius: 3rem;
  top: auto;
}

h2{
  padding-top: 5px;
  padding-bottom: 20px;
  letter-spacing: 10px;
  text-transform: uppercase;
  text-align: center;
  font-size: 25px;
}

form {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

.full-box {
flex: 1 1 100%;
position: relative;
}

.half-box {
flex: 1 1 45%;
position: relative;
}

.spacing {
margin-right: 2.5%;
}

.login p{
  font-weight: bold;
}

.neon-mensagem {
  margin-top: 4%;
  text-align: center;
}

#name , #password, #email, #confirPassword {
  width: 100%;
  margin-bottom: 21px;
  border: none;
  border-bottom: 1px solid #F1F4F4;
  background: transparent;
  outline: none;
  height: 40px;
  color: #F1F4F4;
  font-size: 16px;
}

a{
 color: #FFC600;
}

#btn-submit {
  width: 95%;
  border: none;
  outline: none;
  height: 50px;
  color: #000;
  font-weight: bold;
  background: #FFC600;
  transition: 0.2s;
  padding: 5px;
  margin: 10px;
  font-size: 20px;
  border-radius: 40px;
  margin-left: 3rem;
}

#btn-submit:hover {
  cursor: pointer;
  background: #dbad05;
  transition: 0.2s;
}

footer {
  background-color: #F1F4F4;
  margin-top: 5%;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column
}

.imagenes-rodape{
  margin: 15px;
  border-radius: 0.3rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer a {
  text-decoration: none
  }
  
::placeholder{
  color: rgb(70, 66, 66);
}

.copy{
  color: #2c2626;
  opacity: 0.5;
  padding: 5px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

#mensagem-esqueceuSenha, #mensagem-criarConta{
  font-weight: bold;
  text-decoration: none;
  font-size: 15px;
  line-height: 20px;
  color: #F1F4F4;
  margin-bottom: 10px;
}

#mensagem-esqueceuSenha:hover, #mensagem-criarConta:hover{
  transition: 00.2s;
  color: #dbad05;
}


/* Toasts */

.toast-usuario {
  position: absolute; 
  top: 76%; 
  right: 55%;
  width: auto;
}

.toast-email {
  position: absolute; 
  top: 76%; 
  right: 34%;
  width: auto;
}

.toast-senha {
  position: absolute; 
  top: 82%; 
  right: 53%;
}

.toastConf {
  position: absolute; 
  top: 84%; 
  right: 33%;
  width: auto; 
}



/*Medias Querys Responsividade*/

@media (max-width: 1440px) {

  html {
    font-size: 70%;
}
  header h1{
    font-size: 3rem;
  }
  button {
    width: 10%;
  }
  .login-container {
    width: 65%;
  }
  .toast-usuario {
    top: 73%; 
    right: 57%;
  }
  .toast-email {
    top: 73%; 
    right: 25%;
  }
  .toast-senha {
    top: 83%; 
    right: 53%;
  }
  .toastConf {
    top: 84%; 
    right: 24%;
  }
}

@media (max-width: 1024px) {
  html {
      font-size: 65%;
  }
  header h1{
    font-size: 3rem;
  }
  button {
      width: 23%;
  }
  .logo-h1{
    width: 20%;
  }
  .logo-header {
      width: 0%;
  }
  .login-container {
      width: 75%;
  }
  h2{
    font-size: 2rem;
  }
  #btn-submit{
    width: 85%;
    font-size: 2rem;
  }
  .neon-mensagem {
    width: 60%;
  }
  .imagenes-rodape{
    width: 15%;
    height: 15%;
  }
  .copy{
    font-size: 1rem;
  }
  .toast-usuario {
    top: 63%; 
    right: 57%;
  }
  .toast-email {
    top: 63%; 
    right: 20%;
  }
  .toast-senha {
    top: 75%; 
    right: 51%;
  }
  .toastConf {
    top: 76%; 
    right: 19%;
  }
}

@media (max-width: 768px) {
  html {
      font-size: 60%;
  }
  button {
      width: 30%;
  }
  .logo-header {
      display: hidden;
  }
  .login-container {
      width: 80%;
  }
  .neon-mensagem {
      width: 65%;
  }
  .copy{
    font-size: 1rem;
  }
  .imagenes-rodape{
    width: 14%;
    height: 14%;
  }
  .toast-usuario {
    top: 53%; 
    right: 57%;
  }
  .toast-email {
    top: 53%; 
    right: 18%;
  }
  .toast-senha {
    top: 62%; 
    right: 50%;
  }
  .toastConf {
    top: 63%; 
    right: 15%;
  }
}

@media (max-width: 592px) {
  html {
      font-size: 50%;
  }
  button {
      width: 30%;
  }
  .logo-header {
      visibility: hidden; 
  }
  .login-container {
      width: 90%;
  }
  .neon-mensagem {
      width: 70%;
  }
  .imagenes-rodape{
    width: 14%;
    height: 14%;
  }
  .toast-usuario {
    top: 46%; 
    right: 57%;
  }
  .toast-email {
    top: 46%; 
    right: 16%;
  }
  .toast-senha {
    top: 55%; 
    right: 50%;
    width: 40%;
  }
  .toastConf {
    top: 57%; 
    right: 14%;
  }
}

@media (max-width: 425px) {
  .login-container {
      width: 100%;
      font-size: medium;
  }
  .button {
      margin-left: 1rem;
  }
  .logo-h1 {
      width: 0%;
  }
  header h1 {
      padding: 1.5rem;
  }
  .logo-header img {
    display: none;
  }
  .neon-mensagem {
    width: 80%;
  }
  main {
    padding: 6rem 0 6rem;
  }
  .imagenes-rodape{
    width: 13%;
    height: 13%;
  }
  .toast-usuario {
    top: 41%; 
    right: 55%;
  }
  .toast-email {
    top: 41%; 
    right: 4%;
  }
  .toast-senha {
    top: 49%; 
    right: 55%;
    width: 40%;
  }
  .toastConf {
    top: 52%; 
    right: 3%;
  }
}

@media (max-width: 375px) {
  html {
    font-size: 45%;
  }
  .login-container {
    width: 100%;
    font-size: small;
  }
  .button {
      margin-left: 1rem;
  }
  .logo-h1 {
      width: 0%;
  }
  header h1 {
      padding: 1.5rem;
  }
  .neon-mensagem {
      width: 85%;
  }
  .imagenes-rodape{
    width: 13%;
    height: 13%;
  }
  .toast-usuario {
    top: 37%; 
    right: 55%;
  }
  .toast-email {
    top: 37%; 
    right: 4%;
  }
  .toast-senha {
    top: 48%; 
    right: 55%;
    width: 40%;
  }
  .toastConf {
    top: 49%; 
    right: 3%;
  }
}