body {
  background-color: #5ce1e6;
  font-family: 'Inter', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.logo-header {
  width: 25%;
}

.logo-header img {
  width: 100%;
}

.abra-conta a {
  text-decoration: none;
  color: #000;
}

.login-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  height: 50%;
  border: 2px, solid #000;
  border-radius: 80px 0px 80px 0px;
  color: #fff;
  background-color: #0072CC;
  box-sizing: border-box;
  padding: 10px;
  margin: auto;
}


button {
  background: #FFC600;
  color: #000;
  font-weight: bold;
  font-size: 20px;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  height: 50px;
  line-height: 45px;
  width: 220px;
}

button:hover{
  background: #dbad05;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container{
  max-width: 970px;
}

h1{
  padding-top: 5px;
  padding-bottom: 20px;
  letter-spacing: 10px;
  text-transform: uppercase;
  text-align: center;
  font-size: 25px;
}

footer {
  background-color: white;
  margin-top: 5%;
  padding: 16px;
  display: flex;
  justify-content: center;
}

footer p {
  font-size: 1em;
  font-weight: bold;

}

::placeholder{
  color: rgb(70, 66, 66);
}

#btn-submit {
  width: 80%;
  border: none;
  outline: none;
  height: 50px;
  color: #000;
  font-weight: bold;
  background: #FFC600;
  transition: 0.2s;
  padding: 5px;
  margin: 10px;
  font-size: 20px;
  border-radius: 40px;
}

#btn-submit:hover {
  cursor: pointer;
  background: #dbad05;
  transition: 0.2s;
}



  transition: 0.2s;
}
