*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  }

body{
    margin: 0;
    padding: 0;
    background-color: #0046A0;
    background-size: cover;
    font-family: "Comfortaa", sans-serif;
}

.logo-header img{
    width: 30%;
    position: absolute;
    top: -10%; 
    left: -5%;
  }