*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body{
  margin: 0;
  padding: 0;
  background-color: #0cd8d8;
  background-size: cover;
  font-family: "Comfortaa", sans-serif;
}

.logo-header img{
  width: 350px;
  position: absolute;
  top: -2%; 
  left: 0%;
}

/* link que foi visitado */
a:visited {
  color: #000;
}

button[type="submit"]{
  height: 50px;
  line-height: 45px;
  width: 200px;
  position: absolute;
  top: 5%;
  right: 2%;
  background: #FFC600;
  color: #000;
  font-weight: bold;
  font-size: 20px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  transition: .1s ease all;
}

button[type="submit"]:hover{
  background: #dbad05;
}

/* form */
#main-container {
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  padding: 25px;
  border: 2px, solid #000;
  border-radius: 80px 0px 80px 0px;
  color: #fff;
  background-color: #0072CC;
  top: 70%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 68px 28px;
}

#main-container h1 {
  margin: 0;
  padding-top: 0;
  padding-bottom: 20px;
  letter-spacing: 10px;
  text-transform: uppercase;
  text-align: center;
  font-size: 25px;
}

#main-container a{
  text-decoration: none;
  color: #dbad05;
}

::placeholder{
  color: rgb(70, 66, 66);
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.full-box {
  flex: 1 1 100%;
  position: relative;
}

.half-box {
  flex: 1 1 45%;
  position: relative;
}

.spacing {
  margin-right: 2.5%;
}

input, label {
  display: block;
  outline: none;
  width: 100%;
}

label {
  font-weight: bold;
  font-size: .8rem;
}

input{
    padding: 10px;
    margin-bottom: 40px;
    border: none;
    border-bottom: 2px solid #F1F4F4;
    background: transparent;
    outline: none;
    height: 40px;
    color: #F1F4F4;
    font-size: 16px;
}

input:focus{
    border-color: #FFC600;
}

#btn-submit{
    border: none;
   outline: none;
   height: 35px;
   color: #000;
   font-weight: bold;
   font-size: 20px;
   background: #FFC600;
   border-radius: 20px;
   transition: 0.2s;
}

#btn-submit:hover{
    cursor: pointer;
    background: #dbad05;
    transition: 0.2s;
}

#agreement {
  margin-right: 5px;
}

#agreement, #agreement-label {
  display: inline-block;
  width: auto;
}

.footer{
  padding: 15px;
  margin: 0 auto;
  display: inline-block;
  color: #F1F4F4;
  align-items: center;
  justify-items: center;
  background: linear-gradient(
          225deg,
          rgba(102, 16, 242, 0.3) 0%,
          rgba(102, 16, 242, 0) 100%
        );
}
  
  .imagenes-rodape{
      margin: 15px;
      border-radius: 0.3rem;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .footer a {
      text-decoration: none
      }
  